	
	@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic');
	
	
	/* typography */
	
	
		html, body, h1, h2, h3 {
			font-family: 'Open Sans';
			font-weight: 300;
		}
	
		html, body {
			font-size: 14px;
			line-height: 23px;
		}
	
		h1, h2 {
			font-size: 25px;
			color: #0085FF;
			font-weight: 300;
		}
		
		h2 {
			margin-bottom: 16px;
			margin-top: 31px;
		}
		
		h3 {
			font-size: 16px;
			font-weight: 400;
		}
		
		li {
			list-style: none;
		}
		
		.arrow {
			position: fixed;
			z-index: 3000;
			width: 35px;
			right: 99px;
			top: 400px;
			opacity: 0.4;
		}
	
	
	/* parallax */
	
	
		.parallax { 
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		}	 
	
		.welcome.parallax {
			height: 1000px; 
			background: url(resource_1.jpg) 50% 0 no-repeat fixed; 
		}

		.newsandcontact.parallax {
			height: 800px; 
			background: white; 
		}
	
		.trenager.parallax {
			height: 723px;
			background: url(resource_2.jpg) 50% 0 no-repeat fixed; 
		}
		
		.trenager .wrapper {
			padding: 50px 80px;
		}
	
		.academy.parallax {
			height: 659px;
			background: #FFF;
			padding-top: 30px;
		}
	
		.greencard.parallax {
			height: 700px;
			background: url(resource_3.jpg) 50% 0 no-repeat fixed; 
		}
	
		.shop.parallax {
			height: 900px;
			background: white;
		}
	
		.blank.parallax {
			height: 2000px;
			background: url(resource_4.jpg) 50% 0 no-repeat fixed; 
		}
	
		.contact.parallax {
			height: 2000px;
			background: white;
		}
	
	
	/* general */
	
	
		section {
			position: absolute;
		}
		
		.wrapper {
			position: absolute;
			width: 92%;
			padding: 10px 80px;
			max-width: 1200px;
			height: 100%;
			border-right: 2px solid #FFF;
		}
	
	/* sections */
	
	
		/* welcome */
	
	
		.welcome { 
			margin-top: -20px;
		}
		
		.welcome h1,
		.welcome h2 {
			text-shadow: 0px 0px 12px #000;
			color: white;
			font-size: 20px;
		}
	
		.welcome h1 {
			padding-top: 400px;
			margin-left: 100px;
		}
	
		.welcome h2 {
			margin-left: 116px;
		}
	
		
		/* newsandcontact */
	
	
		.newsandcontact .wrapper > div { 
			width: 50%;
			float: left;
			padding: 20px;
			overflow: hidden;
		}
			
		.newsandcontact ul { 
			padding: 0;
		}
		
		.newsandcontact .maps { 
			height: 364px;
			overflow: hidden;
			display: block;
		}
		
		
		/* trenager */
		
		
		.trenager .wrapper > div { 
			width: 50%;
			float: left;
			height: 610px;
			padding: 20px;
			background: rgba(255, 255, 255, 0.9);
			overflow: hidden;
		}
		
		.trenager .playgrounds span {
			margin: 0px 3px;
			display: inline-block;
		}
		
		
		/* adademy */
		
		
		.academy .wrapper div {
			overflow: hidden;
			padding: 20px;
		}
		
		.academy td {
			padding: 7px 19px;
			border: 1px solid #E7E7E7;
		}
		
		.academy thead td {
			font-weight: 400;
		}
		
		.academy .wrapper div:nth-child(1) p {
			width: 382px;
			float: left;
			margin-right: 50px;
		}
		
		.academy .wrapper div:nth-child(1) table {
			float: right;
		}
		
		.academy .wrapper div:nth-child(2) p {
			width: 274px;
			float: left;
			margin-right: 50px;
		}
		
		.academy .wrapper div:nth-child(2) table {
			float: right;
		}
		
		/* greencard */
		
		.greencard .wrapper > div { 
			height: 495px;
			padding: 20px;
			background: rgba(255, 255, 255, 0.9);
			overflow: hidden;
			margin-top: 70px;
		}
		
		.greencard .floater {
			width: 50%;
			float: left;
		}
		
		.greencard .floater:nth-child(2) {
			padding-right: 40px;
		}
		
		.greencard .floater ol li {
			list-style: inherit;
		}
		
		.greencard .floater li strong {
			margin-right: 11px;
		}
		
		/* shop */
		
		.shop h2 {
			margin: 55px 0 60px 0;
		}
		
		.shop .floater {
			float: left;
			width: 50%;
		}
		
		.shop img {
			width: 486px;
			margin-top: 5px;
		}
		
		
	

	