

	/* typography */

	
		html, body, h1, h2, h3 {
            font-family: "Roboto Slab", Georgia, serif;
			font-weight: 300;
		}
	
		html, body {
            font-size: 18px;
            line-height: 34px;
		}
	
		h1, h2 {
			font-size: 25px;
			color: #0085FF;
			font-weight: 300;
		}
		
		h2 {
			margin-bottom: 16px;
			margin-top: 31px;
		}
		
		h3 {
			font-size: 16px;
			font-weight: 400;
		}
		
		li {
			list-style: none;
		}
		
		.arrow {
            position: fixed;
            z-index: 3000;
            width: 66px;
            right: 43px;
            bottom: 43px;
            opacity: 0.8;
		}
	
	
	/* parallax */
	
	
		.parallax { 
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		}	 
	
		.welcome.parallax {
			height: 1600px;
			background: url(image1.jpg) 50% 0 no-repeat fixed;
		}

		.newsandcontact.parallax {
			height: 600px;
			background: white;
		}
	
		.trenager.parallax {
			height: 723px;
			background: url(image2.jpg) 50% 0 no-repeat fixed;
		}
		
		.trenager .wrapper {
			padding: 50px 80px;
		}
	
		.academy.parallax {
			height: 320px;
			background: #F0F0F0;
		}
	
		.greencard.parallax {
			height: 700px;
			background: url(image3.jpg) 50% 0 no-repeat fixed;
		}
	
		.shop.parallax {
			height: 400px;
			background: #F0F0F0;
		}
	
		.blank.parallax {
			height: 500px;
			background: url(image4.jpg) 50% 0 no-repeat fixed;
		}
	
		.contact.parallax {
			height: 300px;
			background: #F0F0F0;
		}
	
	
	/* general */
	
	
		section {
			position: absolute;
		}
		
		.wrapper {
			position: absolute;
			width: 92%;
			padding: 10px 80px;
			max-width: 1200px;
			height: 100%;
		}
	
	/* sections */
	
	
		/* welcome */
		
		.welcome h1,
		.welcome h2 {
            color: #FFF;
            font-weight: 800;
            background: rgba(0, 0, 0, 0.8);
            padding: 30px 77px;
            display: inline-block;
		}
	
		.welcome h1 {
            font-size: 30px;
			margin: 400px 100px 0;
		}
	
		.welcome h2 {
            margin-left: 240px;
            font-size: 20px;
		}
	
		
		/* newsandcontact */
	
	
		.newsandcontact .wrapper > div { 
			width: 50%;
			float: left;
			padding: 20px;
			overflow: hidden;
		}
			
		.newsandcontact ul { 
			padding: 0;
		}
		
		.newsandcontact img {
            height: 404px;
            overflow: hidden;
            display: block;
		}
		
		/* shop */
		
		.shop h2 {
			margin: 55px 0 60px 0;
		}

        .shop .wrapper * {
            width: 100%;
            text-align: center;
        }
		
		.shop p {
            max-width: 60%;
            margin: 0 auto;
		}
		
		.shop img {
			width: 486px;
			margin-top: 5px;
		}

        /* contact section */
		
		.contact .wrapper {
            padding-top: 100px;
            padding-bottom: 100px;
            text-align: right;
        }
	

